:root {
    --very-light-pink: #767474;
    --hospital-green: #acd9b2;
    --text-input-field: #f7f7f7;
    --white: #ffffff;
    --black: #000000;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}
body {
    font-family: 'Quicksand', sans-serif;
}
*{
    box-sizing: border-box;
    padding: 0;
    border: 0;
}
html{
    font-size: 62.5%;
}
.menu {
    display: none;
}
.logo {
    width: 12rem;
}
ul {
    list-style: none;
    margin-top: 1.4rem;
    display: flex;
}
a {
    font-size: var(--md);
}
p {
    font-size: var(--md);
}
.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: .1rem solid var(--very-light-pink);
}
.navbar .navbar-left {
    display: flex;
    margin-left: 1.2rem;
    align-items: center;
}
.navbar .navbar-left ul li{
    margin-left: 1.2rem;
}
.navbar .navbar-right {
    display: flex;
    margin-right: 1.2rem
}
.navbar .navbar-right ul li {
    display: flex;
    align-items: center;
    margin-right: 1.2rem;
    cursor: pointer;
}
.navbar-left ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: .05rem solid var(--white);
    border-radius: .8rem;
}
.navbar-left ul li a:hover {
    border: .1rem solid var(--hospital-green);
    color: var(--hospital-green);
}
.navbar-shopping-cart {
    position: relative;
}
.navbar-shopping-cart div {
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    top: 1rem;
    right: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.desktop-menu{
    position: absolute;
    background-color: var(--white);
    top: 7.8rem;
    right: 7.8rem;
    width: 14rem;
    height: auto;
    border: .1rem solid var(--very-light-pink);
    border-radius: .6rem;
    padding: 2rem 2rem 0 2rem;
}
.desktop-menu ul {
    list-style: none;
    flex-direction: column;
}
.desktop-menu ul li{
    text-align: end;
}
.desktop-menu ul li a{
    color: var(--black);
    text-decoration: none;
    margin-bottom: 2rem;
    display: inline-block;
}
.desktop-menu ul li:last-child {
    padding-top: 2rem;
    border-top: .1rem solid var(--very-light-pink);
}
.desktop-menu ul li:not(:last-child) {
    font-weight: bold;
    font-size: var(--md);
}
.desktop-menu ul li:last-child a{
    color: var(--hospital-green);
    font-size: var(--sm);
}
.inactive {
    display: none;
}

/*Mobile Menu*/
.mobile-menu {
    position: absolute;
    top: 6rem;
    padding: 2.4rem;
}
.mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    font-size: var(--md);
}

.mobile-menu ul {
    list-style: none;
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
}    
.mobile-menu ul li {
    margin-top: .8rem;
}    
.mobile-menu .categories li {
    margin-left: .4rem;
}
.mobile-menu .sign-out-container{
    margin-bottom: 2.4rem;
}
.mobile-menu .sign-out-container ul li p {
    font-size: var(--sm);
    font-weight: 300;
}     
.mobile-menu .sign-out-container ul li a {
    color:  var(--hospital-green);
    font-size: var(--sm);
    font-weight: 400;
}

@media (max-width: 640px) {
    .menu {
        display: block;
        margin-left: 1.2rem;
    }
    .navbar-left ul {
        display: none;
    }
    .navbar .navbar-right .email {
        display: none;
    }
}