:root {
    --very-light-pink: #767474;
    --hospital-green: #acd9b2;
    --text-input-field: #f7f7f7;
    --white: #ffffff;
    --black: #000000;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}
body {
    font-family: 'Quicksand', sans-serif;
}
*{
    box-sizing: border-box;
    padding: 0;
    border: 0;
}
html{
    font-size: 62.5%;
}
.menu {
    display: none;
}
.logo {
    width: 12rem;
}
ul {
    list-style: none;
    margin-top: 1.4rem;
    display: flex;
}
a {
    font-size: var(--md);
}
p {
    font-size: var(--md);
}
.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: .1rem solid var(--very-light-pink);
}
.navbar .navbar-left {
    display: flex;
    margin-left: 1.2rem;
    align-items: center;
}
.navbar .navbar-left ul li{
    margin-left: 1.2rem;
}
.navbar .navbar-right {
    display: flex;
    margin-right: 1.2rem
}
.navbar .navbar-right ul li {
    display: flex;
    align-items: center;
    margin-right: 1.2rem;
    cursor: pointer;
}
.navbar-left ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: .05rem solid var(--white);
    border-radius: .8rem;
}
.navbar-left ul li a:hover {
    border: .1rem solid var(--hospital-green);
    color: var(--hospital-green);
}
.navbar-shopping-cart {
    position: relative;
}
.navbar-shopping-cart div {
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    top: 1rem;
    right: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.desktop-menu{
    position: absolute;
    background-color: var(--white);
    top: 7.8rem;
    right: 7.8rem;
    width: 14rem;
    height: auto;
    border: .1rem solid var(--very-light-pink);
    border-radius: .6rem;
    padding: 2rem 2rem 0 2rem;
}
.desktop-menu ul {
    list-style: none;
    flex-direction: column;
}
.desktop-menu ul li{
    text-align: end;
}
.desktop-menu ul li a{
    color: var(--black);
    text-decoration: none;
    margin-bottom: 2rem;
    display: inline-block;
}
.desktop-menu ul li:last-child {
    padding-top: 2rem;
    border-top: .1rem solid var(--very-light-pink);
}
.desktop-menu ul li:not(:last-child) {
    font-weight: bold;
    font-size: var(--md);
}
.desktop-menu ul li:last-child a{
    color: var(--hospital-green);
    font-size: var(--sm);
}
.inactive {
    display: none;
}

/*Mobile Menu*/
.mobile-menu {
    position: absolute;
    top: 6rem;
    padding: 2.4rem;
    background-color: var(--white);
}
.mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    font-size: var(--md);
}

.mobile-menu ul {
    list-style: none;
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
}    
.mobile-menu ul li {
    margin-top: .8rem;
}    
.mobile-menu .categories li {
    margin-left: .4rem;
}
.mobile-menu .sign-out-container{
    margin-bottom: 2.4rem;
}
.mobile-menu .sign-out-container ul li p {
    font-size: var(--sm);
    font-weight: 300;
}     
.mobile-menu .sign-out-container ul li a {
    color:  var(--hospital-green);
    font-size: var(--sm);
    font-weight: 400;
}

/*shopping-cart*/
.title{
    font-size: var(lg);
    margin-left: 2rem;
}
.title-container {
    display: flex;
    align-items: center;
    margin-left: 4rem;
}
.primary-button{
    background-color: var(--hospital-green);
    border-radius: .8rem;
    border: none;
    color: var(--white);
    text-align: center;
    width: 100%;
    cursor: pointer;
    cursor: hand;
    font-size: var(--md);
    font-weight: bold;
    height: 5rem;
}
.my-order-container{
    width: 36rem;
    padding: 0 2.4rem;
    position: absolute;
    right: 0;
    background-color: var(--white);
}
.my-order-shopping-cart {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.my-order-shopping-cart .product-on-cart {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: auto;
    margin-top: 1.2rem;
    margin-right: 8rem;
    width: 100%;
}
.product-on-cart .product-img{
    width: 8rem;
    height: 8rem;
    border-radius: 2rem;
    object-fit: cover;
}
.my-order-information {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--text-input-field);
    align-items: center;
    border-radius: 1.6rem;
}
.my-order-information .date-amount{
    display: flex;
    flex-direction: column;
}
.my-order-information p:nth-child(1){
    font-weight: bold;
    color: var(--black);
}
.icon-close {
    width: 1.6rem;
    height: 1.6rem;
}
.icon-close:hover {
    cursor: pointer;
}
p {
    font-size: var(--md);
}
i {
    font-size: 1.6rem;
}
#price {
    font-weight: bold;
    color: #454545;
}

/*Product list*/
.cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 24rem);
    gap: 2.4rem;
    place-content: center;
    margin-top: 2rem;
}
.product-card {
    width: 24rem;
}
.product-card .product-img {
    width: 24rem;
    height: 24rem;
    border-radius: 2rem;
    object-fit: cover;
    cursor: pointer;
}
.product-card .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto;
    margin-top: 1.2rem;
}
.product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: .4rem;
}
.product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
}
.product-card figure img {
    width: 3.6rem;
    height: 3.6rem;
}
.product-card figure {
    margin: 0;
}
.product-detail {
    width: 34rem;
    padding-bottom: 2.4rem;
    position: absolute;
    right: 0;
    top: 8.4rem;
    background-color: var(--white);
}
.product-photo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-photo .product-detail-close {
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    top: 2rem;
    left: 2rem;
    background-color: var(--white);
    z-index: 2;
    padding: 1.2rem;
    border-radius: 50%;
    cursor: pointer;
}
.product-photo .product-detail-close:hover {
    cursor:pointer;
}
.product-photo .product-img {
    width: 100%;
    height: 36rem;
    object-fit: cover;
    border-radius: 0 0 2rem 2rem;
}
.product-info {
    margin: 2.4rem 2.4rem 0 2.4rem;
}
.product-info p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: .4rem;
}
.product-info p:nth-child(2) {
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 3.2rem;
}
.product-info p:nth-child(3) {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 3.2rem;
}
.primary-button{
    background-color: var(--hospital-green);
    border-radius: .8rem;
    border: none;
    color: var(--white);
    text-align: center;
    width: 100%;
    cursor: pointer;
    cursor: hand;
    font-size: var(--md);
    font-weight: bold;
    height: 5rem;
}
.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.points i {
    margin-top: .4rem;
    font-size: var(--md);
}

@media screen and (max-width: 640px) {
    .menu {
        display: block;
        margin-left: 1.2rem;
    }
    .navbar-left ul {
        display: none;
    }
    .navbar .navbar-right .email {
        display: none;
    }
    .desktop-menu {
        display: none;
    }
    .my-order-container {
        width: 100%;
    }
    .cards-container {
        grid-template-columns: repeat(auto-fill, 16rem);
        gap: 2rem;
    }
    .product-card {
        width: 16rem;
    }
    .product-card .product-img {
        width: 16rem;
        height: 16rem;
    }
    .product-detail { 
        top: 6rem;
    }
}

@media screen and (min-width: 641px) {
    .mobile-menu {
        display: none;
    }
}